*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #f0f4fa;
    padding: 20px;
    top: -10px;
}
.course-card {
    width: 100%;
    max-width: 1000px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin: 20px auto;
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 160, 251, 0.1)  ;
}
.chap_but{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.course-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 160, 251, 0.1)  ;
    border: 1px solid #ddd;
}

.course-image {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin: 20px;
}

.course-info {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.course-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.toggle-btn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.course-level {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #1E90FF;
    color: white;
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 20px;
    font-weight: bold;
}

/* --------- Thay đổi ở đây --------- */
.chapter-progress {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    gap: 12px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 160, 251, 0.1);
    background-color: aliceblue;
}

/* Khi mở */
.chapter-progress.show {
    /* max-height lớn hơn hoặc bằng chiều cao nội dung */
    max-height: 500px;
}
/* --------------------------------- */

.chapter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.chapter-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #abcded;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.chapter-circle.active {
    background-color: #1E90FF;
    box-shadow: 0 0 10px rgba(30, 144, 255, 0.6);
}

.chapter-label {
    font-size: 12px;
}

.chapter-icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 4px;
}
.toggle-btn .arrow-icon {
    transition: transform 0.3s ease;
}

.toggle-btn.rotate .arrow-icon {
    transform: rotate(180deg); /* quay mũi tên lên trên */
}
